.yh-select {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
}
.yh-select ul,
.yh-select ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.yh-select > ul > li > a {
    padding: 0;
    background-color: #fff;
}
.yh-select-arrow {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    margin-top: -6px;
    transform-origin: 50% 50%;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
}
.yh-select-arrow:before {
    display: block;
    font-family: "FontAwesome" !important;
}
.yh-select-arrow * {
    display: none;
}
.yh-select-arrow:before {
    content: '\f107';
    transition: transform .3s;
}
.yh-select-selection {
    outline: none;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    border-top-width: 1.02px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.yh-select-selection__clear {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    opacity: 0;
    position: absolute;
    right: 11px;
    z-index: 1;
    background: #fff;
    top: 50%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    margin-top: -6px;
    line-height: 12px;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.15s ease;
}
.yh-select-selection__clear:before {
    display: block;
    font-family: 'FontAwesome';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
}
.yh-select-selection__clear:hover {
    color: rgba(0, 0, 0, 0.45);
}
.yh-select-selection:hover .yh-select-selection__clear {
    opacity: 1;
}
.yh-select-selection-selected-value {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 20px;
}
.yh-select-no-arrow .yh-select-selection-selected-value {
    padding-right: 0;
}
.yh-select-disabled {
    color: rgba(0, 0, 0, 0.25);
}
.yh-select-disabled .yh-select-selection {
    background: #f5f5f5;
    cursor: not-allowed;
}
.yh-select-disabled .yh-select-selection:hover,
.yh-select-disabled .yh-select-selection:focus,
.yh-select-disabled .yh-select-selection:active {
    border-color: #d9d9d9;
    box-shadow: none;
}
.yh-select-disabled .yh-select-selection__clear {
    display: none;
    visibility: hidden;
    pointer-events: none;
}
.yh-select-disabled .yh-select-selection--multiple .yh-select-selection__choice {
    background: #f5f5f5;
    color: #aaa;
    padding-right: 10px;
}
.yh-select-disabled .yh-select-selection--multiple .yh-select-selection__choice__remove {
    display: none;
}
.yh-select-selection--single {
    height: 32px;
    position: relative;
    cursor: pointer;
}
.yh-select-selection__rendered {
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 30px;
}
.yh-select-selection__rendered:after {
    content: '.';
    visibility: hidden;
    pointer-events: none;
    display: inline-block;
    width: 0;
}

.yh-select-disabled .yh-select-selection__choice__remove {
    color: rgba(0, 0, 0, 0.25);
    cursor: default;
}
.yh-select-disabled .yh-select-selection__choice__remove:hover {
    color: rgba(0, 0, 0, 0.25);
}
.yh-select-search__field__wrap {
    display: inline-block;
    position: relative;
}
.yh-select-selection__placeholder,
.yh-select-search__field__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    right: 9px;
    color: #bfbfbf;
    line-height: 20px;
    height: 20px;
    max-width: 100%;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.yh-select-search__field__placeholder {
    left: 12px;
}
.yh-select-search__field__mirror {
    position: absolute;
    top: -9999px;
    left: -9999px;
    white-space: pre;
    pointer-events: none;
}
.yh-select-search--inline {
    position: absolute;
    height: 100%;
    width: 100%;
}
.yh-select-search--inline .yh-select-search__field__wrap {
    width: 100%;
    height: 100%;
}
.yh-select-search--inline .yh-select-search__field {
    border-width: 0;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: 0;
    border-radius: 4px;
    line-height: 1;
}
.yh-select-search--inline > i {
    float: right;
}
.yh-select-selection--multiple {
    min-height: 32px;
    cursor: text;
    padding-bottom: 3px;
    zoom: 1;
}
.yh-select-selection--multiple:before,
.yh-select-selection--multiple:after {
    content: "";
    display: table;
}
.yh-select-selection--multiple:after {
    clear: both;
}
.yh-select-selection--multiple .yh-select-search--inline {
    float: left;
    position: static;
    width: auto;
    padding: 0;
    max-width: 100%;
}
.yh-select-selection--multiple .yh-select-search--inline .yh-select-search__field {
    max-width: 100%;
    width: 0.75em;
}
.yh-select-selection--multiple .yh-select-selection__rendered {
    margin-left: 5px;
    margin-bottom: -3px;
    height: auto;
}
.yh-select-selection--multiple .yh-select-selection__placeholder {
    /*margin-left: 6px;*/
}
.yh-select-selection--multiple > ul > li,
.yh-select-selection--multiple .yh-select-selection__rendered > ul > li {
    margin-top: 5px;
    height: 24px;
    line-height: 22px;
}
.yh-select-selection--multiple .yh-select-selection__choice {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin-right: 4px;
    max-width: 99%;
    position: relative;
    overflow: hidden;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0 20px 0 10px;
}
.yh-select-selection--multiple .yh-select-selection__choice__disabled {
    padding: 0 10px;
}
.yh-select-selection--multiple .yh-select-selection__choice__content {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.yh-select-selection--multiple .yh-select-selection__choice__remove {
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.45);
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    transform: scale(0.83333333) rotate(0deg);
    position: absolute;
    right: 4px;
}
.yh-select-selection--multiple .yh-select-selection__choice__remove:before {
    display: block;
    font-family: "FontAwesome" !important;
}
:root .yh-select-selection--multiple .yh-select-selection__choice__remove {
    font-size: 12px;
}
.yh-select-selection--multiple .yh-select-selection__choice__remove:hover {
    color: #404040;
}
.yh-select-selection--multiple .yh-select-selection__choice__remove:before {
    content: "\f00d";
}
.yh-select-selection--multiple .yh-select-selection__clear {
    top: 16px;
}
.yh-select-allow-clear .yh-select-selection--single .yh-select-selection-selected-value {
    padding-right: 16px;
}
.yh-select-allow-clear .yh-select-selection--multiple .yh-select-selection__rendered {
    margin-right: 20px;
}
.yh-select-open .yh-select-arrow:before {
    transform: rotate(180deg);
}
.yh-select-combobox .yh-select-arrow {
    display: none;
}
.yh-select-combobox .yh-select-search--inline {
    height: 100%;
    width: 100%;
    float: none;
}
.yh-select-combobox .yh-select-search__field__wrap {
    width: 100%;
    height: 100%;
}
.yh-select-combobox .yh-select-search__field {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: none;
}
.yh-select-combobox.yh-select-allow-clear .yh-select-selection:hover .yh-select-selection__rendered {
    margin-right: 20px;
}
.yh-select-dropdown {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 1050;
    left: -9999px;
    top: -9999px;
    position: absolute;
    outline: none;
    font-size: 14px;
}
.yh-select-dropdown.slide-up-enter.slide-up-enter-active.yh-select-dropdown-placement-bottomLeft,
.yh-select-dropdown.slide-up-appear.slide-up-appear-active.yh-select-dropdown-placement-bottomLeft {
    animation-name: antSlideUpIn;
}
.yh-select-dropdown.slide-up-enter.slide-up-enter-active.yh-select-dropdown-placement-topLeft,
.yh-select-dropdown.slide-up-appear.slide-up-appear-active.yh-select-dropdown-placement-topLeft {
    animation-name: antSlideDownIn;
}
.yh-select-dropdown.slide-up-leave.slide-up-leave-active.yh-select-dropdown-placement-bottomLeft {
    animation-name: antSlideUpOut;
}
.yh-select-dropdown.slide-up-leave.slide-up-leave-active.yh-select-dropdown-placement-topLeft {
    animation-name: antSlideDownOut;
}
.yh-select-dropdown-hidden {
    display: none;
}
.yh-select-dropdown-menu {
    outline: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
}
.yh-select-dropdown-menu-item-group-list {
    margin: 0;
    padding: 0;
}
.yh-select-dropdown-menu-item-group-list > .yh-select-dropdown-menu-item {
    padding-left: 20px;
}
.yh-select-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.45);
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
.yh-select-dropdown-menu-item {
    position: relative;
    display: block;
    padding: 5px 12px;
    line-height: 22px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 0.3s ease;
}
.yh-select-dropdown-menu-item:hover {
    background-color: #e6f7ff;
}
.yh-select-dropdown-menu-item:first-child {
    border-radius: 4px 4px 0 0;
}
.yh-select-dropdown-menu-item:last-child {
    border-radius: 0 0 4px 4px;
}
.yh-select-dropdown-menu-item-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}
.yh-select-dropdown-menu-item-disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
    cursor: not-allowed;
}
.yh-select-dropdown-menu-item-selected,
.yh-select-dropdown-menu-item-selected:hover {
    background-color: #fafafa;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}
.yh-select-dropdown-menu-item-active {
    background-color: #e6f7ff;
}
.yh-select-dropdown-menu-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e8e8e8;
    line-height: 0;
}
.yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item:after {
    font-family: 'FontAwesome';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    color: transparent;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    transform: scale(0.83333333) rotate(0deg);
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-weight: bold;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
}
:root .yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item:after {
    font-size: 12px;
}
.yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item:hover:after {
    color: #ddd;
}
.yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item-disabled:after {
    display: none;
}
.yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item-selected:after,
.yh-select-dropdown.yh-select-dropdown--multiple .yh-select-dropdown-menu-item-selected:hover:after {
    color: #1890ff;
    display: inline-block;
}
.yh-select-dropdown-container-open .yh-select-dropdown,
.yh-select-dropdown-open .yh-select-dropdown {
    display: block;
}
