import React, {Component} from 'react';
<% _.forEach(imports, function(item) { %><%= item %>
<% }); %>
<% _.forEach(consts, function(item) { %><%= item %>
<% }); %>
<% _.forEach(examples, function(item) { %>
<%= item.component %>
<% }); %>

export default class App extends Component {
    render() {
        return (
            <div style={{width:900,padding:'0 24px',margin:'0 auto'}}>
                <Title />
                <% _.forEach(examples, function(item) { %>
                     <Typography variant="display1" gutterBottom>
                                    <%= item.type %>
                                </Typography>
                                <p style={{margin:'24px 0 12px 0'}}>
                                    <%= item.desc %>
                                </p>
                    <Templete code={`<%= item.code %>`}>
                        <<%=item.name%> />
                    </Templete>
                <% }); %>
                <Api />
            </div>
        )
    }
}